{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Hello World demo" %}

{% block content %}
    <div ng-app="app" ng-controller="HelloWorldCtrl">
        <form>
            <label for="name">名前を入れてください：</label>
            <input id="name" type="text" ng-model="name" />
        </form>
        <p>Hello {% verbatim %}{{ name }}{% endverbatim %}!</p> {# angularが動的に変更するname #}
    </div>

    <script type="text/javascript">
        angular.module('app', []).controller('HelloWorldCtrl', ['$scope', function($scope){
            $scope.name = "{{ name }}"; // サーバーサイドのtwigから出力するname
        }]);
    </script>
{% endblock %}
